<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.1.0/frappe-gantt.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.1.0/frappe-gantt.js"></script>

  </head>
  <body>
  <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
            
        <div id="gantt" style="overflow: scroll; width:800px;" ></div>
            </div>
        </div>
    </div>
  </section>
    <script>
    var tasks;
    document.addEventListener('DOMContentLoaded', function(){
        tasks ={{tasks|safe}};
        var gantt = new Gantt( document.querySelector("#gantt"), tasks);
    });

</script>
  </body>
</html>

