<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}dist/app.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <div class="">
                
                <h3>Projects</h3>
                <small>
                    <a target='_blank' href="/admin">admin</a>
                </small>
                <hr>
                
                <ul class="">
                    {%for p in projects %}
                    {% if p.tasks.count > 0 %}
                        
                    <li> 
                        <a href="?id={{p.id}}">
                        {{p.name}}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                </div>
            </div>  
            {% if tasks_count %}
            <div class="column is-10">
                 <div id="gantt" ></div>
                <button class="button" onclick="change(this)">Day</button>
                <button class="button" onclick="change(this)">Week</button>
                <button class="button" onclick="change(this)">Month</button>

            </div>
            {% endif %}
        </div>
   </div>
  </section>

  <script type="text/javascript">
      
       var tasks ={{tasks|safe}};

  </script>
<script defer src="{{MEDIA_URL}}dist/app.js"></script>
  </body>
</html>

