@import '~frappe-gantt/dist/frappe-gantt.css';

        .section {
            width:100%;
            margin: 0 auto;
        }

        #gantt {
        }
        .popup-wrapper .title, .popup-wrapper .subtitle {
            color:white;
            font-size:1rem;
        }
        .gantt .red .bar-progress {
                        fill: tomato;
                                    }